%ul.breadcrumb
  %li
    = link_to "#", class: "glyphicons briefcase" do
      %i
      الفصول
  %li.divider
  %li فصل ( أ )

.innerAll
  .row-fluid
    .span12
      .span6
        %table.table.table-invoice
          %tbody
            %tr
              %td{ style: "width: 100%;"}
                .media
                  %img.media-object.pull-left.thumb{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", alt: "Logo" }
                  .media-body
                    %h2= @n_class.name
                    %h4= @teacher
                    .separator.bottom
      .span6
        .span3.pull-left
              
          =link_to "#", class: "widget-stats widget-stats-gray widget-stats-2 widget-stats-easy-pie txt-single" do
            .easy-pie.success{ :'data-percent' => "90" }
              %span.value ٩٠%
            %span.txt تكملة المنهج
            .clearfix
            .separator.bottom
        .span3.pull-left
              
          =link_to "#", class: "widget-stats widget-stats-gray widget-stats-2" do
            %span.count= format_number(@students.count)
            %span.txt طالب
            
  .separator.bottom
  .row-fluid
    .span12
      .tabsbar.tabsbar-2
        %ul.row-fluid.row-merge
          %li.span4.glyphicons.cargo
            =link_to "#", class: "glyphicons user_add active" do
              %i
              المواد
          %li.span4.glyphicons.calendar.active
            =link_to "#", class: "glyphicons user_add active" do
              %i
              الجدول
          %li.span4.glyphicons.group
            =link_to "#", class: "glyphicons user_add active" do
              %i
              الطلاب
  .clearfix

  %table.table.table-white.table-bordered.table-vertical-center.table-pricing
    %thead
      %tr
        %th.center.heading المادة
        %th.center{style: "width: 15%"}
          %span.plan اسبوع ١
          .separator.bottom
        %th.center{style: "width: 15%"}
          %span.plan اسبوع ٢
          .separator.bottom
        %th.center{style: "width: 15%"}
          %span.plan اسبوع ٣
          .separator.bottom
        %th.center{style: "width: 15%"}
          %span.plan اسبوع ٤
          .separator.bottom
    %tbody
      -@schedule.each do |subject, subject_schedule| 
        %tr
          %td= subject.description
          %td.center
            = render partial:"n_class/schedule_entry", :object => [subject, subject_schedule[0]], as: :subject_pair
          %td.center
            = render partial:"n_class/schedule_entry", :object => [subject, subject_schedule[1]], as: :subject_pair
          %td.center
            = render partial:"n_class/schedule_entry", :object => [subject, subject_schedule[2]], as: :subject_pair
          %td.center
            = render partial:"n_class/schedule_entry", :object => [subject, subject_schedule[3]], as: :subject_pair