%h3 
  / %i.icon.icon-briefcase
  الفصول

%table.table.table-striped.table-vertical-center.table-projects.table-bordered
  %thead
    %tr
      %th{colspan: "2"}
      %th.center{width: "100"}
      %th.center{ width: "100"}
      %th.center{ width: "140"}
      %th.center{ width: "120"}
    
  %tbody
    -@classes.each do |n_class| 
      %tr
        %td.center{ width: "80" }
          %span.thumb
            %img{src: "http://2.s3.envato.com/files/50444644/80-avatar.jpg", alt: "" }
        %td.important
          %h3= n_class.name
        %td.center.stats
          %span
            عدد الطلاب
          %span.count= format_number(n_class.students.count)
        %td.center.stats
          %span
            عدد المواد
          %span.count=  format_number(n_class.subjects.count)
        %td.center.stats
          %span
            مدرسة الفصل
          %span.count= n_class.teacher_name
        %td.center
          %button.btn.btn-default
            %span= link_to "تفاصيل", n_class_path(n_class)
          
            