.row-fluid
  = form_for(class_schedule_entry, :url => {action: 'create'}) do |f|
    = hidden_field_tag 'month', class_schedule_entry.month
    = hidden_field_tag 'week', class_schedule_entry.week
    = hidden_field_tag 'class_subject_id', class_schedule_entry.class_subject._id
    = f.select :lesson, options_from_collection_for_select(class_schedule_entry.class_subject.lessons, 'id', 'description'), {}, :onchange => "this.form.submit();"