%ul.breadcrumb
  %li
    = link_to n_classes_path, class: "glyphicons briefcase" do
      %i
      الفصول
  %li.divider
  %li= link_to @n_class.name, n_class_path(@n_class)

.innerAll
  .row-fluid
    .span12
      .span6
        %table.table.table-invoice
          %tbody
            %tr
              %td{ style: "width: 100%;"}
                .media
                  %img.media-object.pull-left.thumb{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", alt: "Logo" }
                  .media-body
                    %h2= @n_class.name
                    %h4= @teacher
                    .separator.bottom
      .span6
        .span3.pull-left
              
          =link_to "#", class: "widget-stats widget-stats-gray widget-stats-2 widget-stats-easy-pie txt-single" do
            .easy-pie.success{ :'data-percent' => "90" }
              %span.value ٩٠%
            %span.txt تكملة المنهج
            .clearfix
            .separator.bottom
        .span3.pull-left
              
          =link_to "#", class: "widget-stats widget-stats-gray widget-stats-2" do
            %span.count= format_number(@students.count)
            %span.txt طالب
            
  .separator.bottom
  .row-fluid
    .span12
      .tabsbar.tabsbar-2
        %ul.row-fluid.row-merge
          %li.span4.glyphicons.cargo
            =link_to n_class_path(@n_class), class: "glyphicons user_add active" do
              %i
              المواد
          %li.span4.glyphicons.calendar.active
            =link_to class_schedule_entries_path(@n_class), class: "glyphicons user_add active" do
              %i
              الجدول
          %li.span4.glyphicons.group
            =link_to n_class_enrolled_students_path(@n_class), class: "glyphicons user_add active" do
              %i
              الطلاب
  .clearfix

  %table.fc-header{width: "100%"}
    %tbody
      %tr
        %td.fc-header-left
          .btn-group
            = link_to class_schedule_entries_path(:month => (@month-1), :n_clas_id => @n_class._id), class: "fc-button btn btn-small btn-primary fc-button-next" do
              %span 
                ►
            %span.fc-header-space
            %button.fc-button.btn.btn-small.btn-primary.fc-button-today.fc-state-disabled{disabled: ""}
              = format_month(@month)
            = link_to class_schedule_entries_path(:month => (@month+1), :n_clas_id => @n_class._id), class: "fc-button btn btn-small btn-primary fc-button-prev" do
              %span 
                ◄
  .separator.bottom


  %table.table.table-white.table-bordered.table-vertical-center.table-pricing
    %thead
      %tr
        %th.center{style: "width: 25%"} 
          %span.plan االمادة
          .separator.bottom
        %th.center{style: "width: 15%"}
          %span.plan اسبوع ١
          .separator.bottom
        %th.center{style: "width: 15%"}
          %span.plan اسبوع ٢
          .separator.bottom
        %th.center{style: "width: 15%"}
          %span.plan اسبوع ٣
          .separator.bottom
        %th.center{style: "width: 15%"}
          %span.plan اسبوع ٤
          .separator.bottom
    %tbody
      - @schedule.each_with_index do |(subject, subject_schedule), index|
        %tr
          %td
            %img{src: "http://2.s3.envato.com/files/50444644/80-avatar.jpg", alt: "" }
            = subject.description
            / %span.thumb
            
          = render partial: "schedule_entry", :collection => subject_schedule, as: :schedule_entry