.span8.detailsWrapper
  .ajax-loading.hide
    %i.icon-spinner.icon-spin.icon-4x
  .innerAll
    .title
      .row-fluid
        .span8
          %h3.text-primary
            =link_to  student.full_name, student_path(student)
          %span.muted= student.n_class.name
        .span3.offset1.text-right
          = link_to student_path(student), class: "btn btn-medium btn-block btn-default" do
            مزيد من التفاصيل
            %i.icon-angle-left.icon-fixed-width

          
    
    %hr/
    .body
      .row-fluid
        .span4.overflow-hidden
          / Profile Photo
          .center
            %a.thumb.inline-block{href: ""}
              %img{alt: "Profile", "data-src" => "holder.js/300x200"}/
          .separator.bottom
          / // Profile Photo END
        .span8
          .row-fluid
            .span4
              %h5.strong معلومات عامة
              %ul.icons-ul
                %li
                  %i.icon-home.icon-li.icon-fixed-width
                  %strong العنوان
                  %br
                  - if student.address.present?
                    = student.address
                  - else
                    لا يوجد 
                .separator.bottom
                %li
                  %i.icon-credit-card.icon-li.icon-fixed-width
                  %strong الرقم القومي
                  %br
                  - if student.national_id.present?
                    = format_number(student.national_id)
                  -else
                    لا يوجد 
                .separator.bottom
                %li
                  %i.icon-gift.icon-li.icon-fixed-width
                  %strong تاريخ الميلاد
                  %br
                  - if student.date_of_birth.present?
                    = format_number(student.date_of_birth.to_date.to_s)
                  - else
                    لا يوجد 
            
              .separator.bottom
            .span7.offset1
              %h5.strong نبذة عن التقيم
              لغة عربية
              .progress.progress-mini.progress-primary.count-outside
                .count.span2 100%
                .bar{style: "width: 100%;"}
              حساب
              .progress.progress-mini.progress-primary.count-outside
                .count 90%
                .bar{style: "width: 90%;"}
              تربية اسلامية
              .progress.progress-mini.progress-primary.count-outside
                .count 93%
                .bar{style: "width: 93%;"}
              لغة انجليزية
              .progress.progress-mini.progress-primary.count-outside
                .count 79%
                .bar{style: "width: 79%;"}
              الحياة العملية
              .progress.progress-mini.count-outside
                .count 20%
                .bar{style: "width: 20%;"}
              الحياة الحسية
              .progress.progress-mini.count-outside
                .count 20%
                .bar{style: "width: 20%;"}
              الركن الثقافي
              .progress.progress-mini.count-outside
                .count 20%
                .bar{style: "width: 20%;"}
              .separator.bottom
              %a.btn.btn-primary.btn-medium.btn-block{href: ""}
                %i.icon-bar-chart.icon-fixed-width
                التقيم الكلي
              .separator.bottom