%ul.breadcrumb
  %li
    = link_to students_path, class: "glyphicons group" do
      %i
      الطلاب
  %li.divider
  %li= @student.full_name

%h3= @student.full_name
.innerLR
  / Widget
  .widget.widget-tabs.widget-tabs-double-2.border-bottom-none
    / Widget heading
    .widget-head
      %ul
        %li
          = link_to student_path(@student), class: 'glyphicons display' do
            %i
            معلومات تفصيلية
        %li.active
          = link_to edit_student_path(@student), class: 'glyphicons edit' do
            %i
            تعديل المعلومات
        %li
          = link_to student_evaluation_path(@student), class: 'glyphicons notes_2' do
            %i
            تقييم المواد
        %li
          = link_to new_student_student_behavior_record_path(@student), class: "glyphicons notes" do
            %i
            تقييم السلوكيات
    / // Widget heading END
    .widget-body
      .tab-content
        #overview.tab-pane.active.widget-body-regular.padding-none
          .row-fluid.row-merge
            .span3.center.innerL.innerTB
              .innerR
                / Profile Photo
                %a.thumb{href: ""}
                  = image_tag @student.avatar.large.url, id: "student_avatar"
                .separator.bottom
              .row-fluid
                = form_for @student, html: {multipart: true, id: 'student_upload'}, remote: true do |f| 
                  #photo_upload
                    .wrapper
                      = f.file_field :avatar, class: 'avatar'
                    %button.btn.btn-icon.btn-primary.span11
                      %i
                      تعديل الصورة
            .span9.containerBg.innerTB
              .innerLR
                .row-fluid.innerB
                  .span12
                    .widget.widget-heading-simple.widget-body-white.margin-none
                      .widget-head
                        %h4.heading.glyphicons.user
                          %i
                          %strong تعديل المعلومات
                      .widget-body
                        = form_for @student do |f|
                          = f.hidden_field '_id', value: f.object._id
                          %table.table.table-borderless
                            %tr
                              %td
                                %span الإسم الأول 
                              %td= f.text_field :first_name  
                            %tr  
                              %td
                                %span إسم العائلة
                              %td= f.text_field :last_name
                            %tr
                              %td
                                %span تاريخ الميلاد
                              %td=f.date_select(:date_of_birth, :order => [:day, :month, :year],  use_month_names: get_month_names)
                            %tr
                              %td
                                %span الرقم القومي
                              %td= f.text_field :national_id
                            %tr
                              %td
                                %span العنوان
                              %td= f.text_field :address
                            %tr
                              %td
                                %span= translate('sponsors')
                              %td=f.number_field  :sponsors_count
                            = f.fields_for :relatives do |ff|
                              %tr.separator-table
                                %td
                                  %span=translate(ff.object.relation_type.to_s)
                                %td
                              = ff.fields_for :related do |fff|
                                = fff.hidden_field :gender, value: fff.object.gender
                                %tr
                                  %td
                                    %span الإسم الأول 
                                  %td= fff.text_field :first_name  
                                %tr  
                                  %td
                                    %span إسم العائلة
                                  %td= fff.text_field :last_name
                                %tr  
                                  %td
                                    %span الوظيفة
                                  %td= fff.text_field :job
                                %tr  
                                  %td
                                    %span المؤهل التعليمي
                                  %td= fff.text_field :educational_background
                                      
                          %button{type: "submit", class: "right btn btn-blue"}
                            حفظ