.widget.widget-heading-simple.widget-body-white.widget-employees
  .widget-body.padding-none
    .row-fluid.row-merge
      .span6.listWrapper
        %span.results
          = @students.count 
          طالب
        %ul.list.unstyles{style: "top: 20px;"}
          - @students.each do |student|
            %li
              .media.innerAll
                .media-object.pull-left.thumb
                  %img{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", alt: "Logo" }
                .media-body
                  = student.first_name
                  = student.last_name
                  %p
                    = student.gender
          - @students.each do |student|
            %li
              .media.innerAll
                .media-object.pull-left.thumb
                  %img{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", alt: "Logo" }
                .media-body
                  = student.first_name
                  = student.last_name
                  %p
                    = student.gender
