%ul.breadcrumb
  %li
    = link_to students_path, class: "glyphicons group" do
      %i
      الطلاب

%h3 الطلاب
.innerLR
  / Widget
  .widget.widget-heading-simple.widget-body-white.widget-employees
    / Widget Heading
    .widget-head
      %h4.heading.glyphicons.user
        %i
        معلومات عن الطلاب
    / // Widget Heading END
    .widget-body.padding-none
      .row-fluid.row-merge
        .span4.listWrapper
          .innerAll
            %form.form-inline{autocomplete: "off"}
              .widget-search.separator.bottom
                %button.btn.btn-inverse.pull-left{type: "button"}
                  %i.icon-search
                .overflow-hidden
                  %input{placeholder: "ابحث عن طالب ..", type: "text", value: ""}/
      
          %span.results
            =format_number(@students.count)
            طالب
            %i.icon-circle-arrow-down
          %ul.list.unstyled
            - @students.each do |student|
              = link_to student_preview_path(student), remote: true do
                %li
                  .media.innerAll
                    .media-object.pull-left.thumb
                      %img{alt: "Image", "data-src" => "holder.js/51x51/dark"}/
                    .media-body
                      %span.strong= student.full_name
                      %span.muted= student.n_class.name
        #preview_info            
          = render partial: 'preview_info', locals: {student: @students.first}  
        
  / // Widget END
