.student-content
  .candidate.radius.grid_4{style: "height: 360px; overflow: auto;"}
    .candidate-margins
      %a{href: student_path(@student)}
        %img.attachment-candidate-thumb.wp-post-image{ height: "235", src: "#{@student.avatar_large_url}", width: "224"}/
        .name
          = @student.first_name
  .students-preview.grid_9
    .toggle-content
      .title
        %p
          %i.icon-user
          %span.padded-left
            = translate('basic')
      .expand{style: "display: block;"}
        %ul
          %li
            %span
              %b= "#{translate('name')} :"
            %span=@student.full_name  
          %li
            %span
              %b= "#{translate('age')}  :"
            - if @student.date_of_birth.present?
              %span=format_number(@student.age)
            - else
              = translate('NA')
          %li
            %span
              %b="#{translate('birth')} :"
            - if @student.date_of_birth.present?
              %span= format_number(@student.date_of_birth.to_date.day.to_s)
              %span /
              %span= format_number(@student.date_of_birth.to_date.month.to_s)
              %span /
              %span= format_number(@student.date_of_birth.to_date.year.to_s)
            - else
              = translate('NA')
          %li
            %span
              %b= "#{translate('class')} :"
            %span=@student.n_class.name
    .toggle-content
      .expand-button
        %p
          %i.icon-bar-chart
          %span.padded-left
            = translate('progress')
      .expand
        - progress = @student.get_student_progress
        - progress_count = progress.values.inject(:+)
        .student-eval
          - if progress_count > 0
            - progress.each do |subject, progress_info|
              = subject
              .progress.progress-mini.progress-primary.count-outside
                .count.span2
                  = "#{progress_info}%"
                .bar{style: "width: #{progress_info}%;"}
          - else
            %span=translate("empty_progress")
    .short-content.padded-top
      .entry-meta
        %p.fund.fleft
          %i.icon-credit-card
          = "#{translate('sponsored_msg1')}  :  #{format_number(@student.sponsored_amount)}"
        %p.fleft
          = "#{translate('sponsored_msg2')}  :  #{translate("amount")}"
        = link_to new_request_path({student_id: @student.slug}), remote: true, class: "buttons fright purple" do
          =translate("sponsor")
  %div.clear