= form_for [:admin, @student] do |f|
  = f.hidden_field '_id', value: f.object._id
  %table.table.table-borderless
    %tr
      %td
        %span الإسم الأول 
      %td= f.text_field :first_name,  :required => true  
    %tr  
      %td
        %span إسم العائلة
      %td= f.text_field :last_name,  :required => true
    %tr
      %td
        %span تاريخ الميلاد
      %td=f.date_select(:date_of_birth, :order => [:day, :month, :year],  use_month_names: get_month_names)
    %tr
      %td
        %span الرقم القومي
      %td= f.text_field :national_id
    %tr
      %td
        %span العنوان
      %td= f.text_field :address
    %tr
      %td
        %span الفصل
      %td= f.select :n_class_id, class_options, :required => true

    %tr
      %td
        %span= translate('sponsored_amount')
      %td=f.number_field  :sponsored_amount
    = f.fields_for :relatives do |ff|
      = ff.hidden_field :relation_type, value: ff.object.relation_type.to_s
      %tr.separator-table
        %td
          %span=translate(ff.object.relation_type.to_s)
        %td
      = ff.fields_for :related do |fff|
        = fff.hidden_field :gender, value: fff.object.gender
        %tr
          %td
            %span الإسم الأول 
          %td= fff.text_field :first_name  
        %tr  
          %td
            %span إسم العائلة
          %td= fff.text_field :last_name
        %tr  
          %td
            %span الوظيفة
          %td= fff.text_field :job
        %tr  
          %td
            %span المؤهل التعليمي
          %td= fff.text_field :educational_background
              
  %button{type: "submit", class: "right btn btn-blue"}
    حفظ