.span8.detailsWrapper
  .ajax-loading.hide
    %i.icon-spinner.icon-spin.icon-4x
  .innerAll
    .title
      .row-fluid
        .span8
          %h3.text-primary
            =link_to  student.full_name, admin_student_path(student)
          %span.muted= student.n_class.name if student.n_class.present?
        .span3.offset1.text-right
          = link_to admin_student_path(student), class: "btn btn-medium btn-block btn-default" do
            مزيد من التفاصيل
            %i.icon-angle-left.icon-fixed-width


          
    
    %hr/
    .body
      .row-fluid
        .span7.overflow-hidden
          / Profile Photo
          .center
            %a.thumb.inline-block{href: ""}
              = image_tag student.avatar.preview.url
          .separator.bottom
          / // Profile Photo END
          %ul.icons-ul
            %li
              %i.icon-home.icon-li.icon-fixed-width
              %strong العنوان : 
              - if student.address.present?
                = student.address
              - else
                لا يوجد 
            .separator.bottom
            %li
              %i.icon-credit-card.icon-li.icon-fixed-width
              %strong الرقم القومي :
              
              - if student.national_id.present?
                = format_number(student.national_id)
              -else
                لا يوجد 
            .separator.bottom
            %li
              %i.icon-gift.icon-li.icon-fixed-width
              %strong تاريخ الميلاد :
              - if student.date_of_birth.present?
                %span.label= format_number(student.date_of_birth.to_date.day.to_s)
                %span.label= format_number(student.date_of_birth.to_date.month.to_s)
                %span.label= format_number(student.date_of_birth.to_date.year.to_s)
              - else
                لا يوجد 
        .span5
          .row-fluid
            .span12
              %h5.strong نبذة عن التقيم
              - progress.each do |subject, progress_info|
                = subject
                .progress.progress-mini.progress-primary.count-outside
                  .count.span2
                    = "#{progress_info}%"
                  .bar{style: "width: #{progress_info}%;"}
              .separator.bottom
              = link_to admin_student_evaluation_path(student), class: "btn btn-primary btn-medium btn-block" do
                %i.icon-bar-chart.icon-fixed-width
                التقيم الكلي
              .separator.bottom