%ul.breadcrumb
  %li
    = link_to "#", class: "glyphicons briefcase" do
      %i
      الفصول
  %li.divider
  %li فصل ( أ )

.innerAll
  .row-fluid
    .span12
      .span6
        %table.table.table-invoice
          %tbody
            %tr
              %td{ style: "width: 100%;"}
                .media
                  %img.media-object.pull-left.thumb{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", alt: "Logo" }
                  .media-body
                    %h2= @n_class.name
                    %h4= @teacher
                    .separator.bottom
      .span6
        .span3.pull-left
              
          =link_to "#", class: "widget-stats widget-stats-gray widget-stats-2 widget-stats-easy-pie txt-single" do
            .easy-pie.success{ :'data-percent' => "90" }
              %span.value ٩٠%
            %span.txt تكملة المنهج
            .clearfix
            .separator.bottom
        .span3.pull-left
              
          =link_to "#", class: "widget-stats widget-stats-gray widget-stats-2" do
            %span.count= format_number(@students.count)
            %span.txt طالب

  %h4= "تقييم " + @class_subject.description
  .clearfix
    %table.fc-header{width: "100%"}
      %tbody
        %tr
          %td.fc-header-left
            .btn-group
              %button.fc-button.btn.btn-small.btn-primary.fc-button-next 
                %span= link_to "►", edit_class_evaluation_record_path(:month => (@month-1), :class_subject_id => @class_subject._id)
              %span.fc-header-space
              %button.fc-button.btn.btn-small.btn-primary.fc-button-today.fc-state-disabled{disabled: ""}= "#{format_month(@month)}"
              %button.fc-button.btn.btn-small.btn-primary.fc-button-prev 
                %span= link_to "◄", edit_class_evaluation_record_path(:month => (@month+1), :class_subject_id => @class_subject._id)    

  .separator.bottom
  = form_for(@evaluation_record, url: class_evaluation_records_path(@evaluation_record), html: { method: :post}) do |f|
    = hidden_field_tag "month", @month
    = f.hidden_field '_id', value: f.object._id
    = f.hidden_field 'class_subject_id', value: f.object.class_subject._id
    %table.table.table-white.table-bordered.table-vertical-center.table-pricing
      %thead
        %tr
          %th.center{style: "width: 15%"}
            %span.plan الطالب
          - @lessons.each do |lesson|
            %th.center{style: "width: 15%"}
              %span.plan= lesson.description
              .separator.bottom
      %tbody
        = f.fields_for :evaluation_records do |ff|
          = ff.hidden_field 'student_id', value: ff.object.student._id
          %tr{ style: "background-color: #E8E8E8 "}
            %td= ff.object.student.full_name
            - student_grades = get_student_grades @lessons, ff.object
            = ff.fields_for :grades, student_grades do |gf|
              = gf.hidden_field 'lesson_id', value: gf.object.lesson._id
              %td
                = gf.check_box  :grade
                = gf.text_field :general_comments, :placeholder => "ملحوظات"
    %button{type: "submit", class: "right btn btn-blue"}
      حفظ