%header#branding.site-header{role: "banner"}
  #sticky_navigation
    .container_16
      %hgroup.fleft.grid_5
        %h1#site-title
          %a{href: "http://net3allem.com/", rel: "home", title: "Net3allem - "}
            %img{src: "http://net3allem.com/wp-content/uploads/2013/09/net3allemlogoeng-051.png"}
        %h2#site-description
      %nav#site-navigation.site-navigation.main-navigation.grid_11{role: "navigation"}
        .menu-main-menu-container
          %ul#menu-main-menu.nav-menu
            %li.menu-item
              %a{href: "http://net3allem.com/"}= translate('home')
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=47"}=translate('about_us')
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=23"}= translate('projects')
              %ul.sub-menu
                %li.menu-item.menu-item-type-custom.menu-item-object-custom
                  %a{href: "http://net3allem.com/?p=1"}= translate('montessori')
                %li.menu-item.menu-item-type-custom.menu-item-object-custom
                  %a{href: "http://net3allem.com/?p=359"}= translate('foundation')
                %li.menu-item.menu-item-type-custom.menu-item-object-custom
                  %a{href: "http://net3allem.com/?p=350"}=translate('teenager')
                %li.menu-item.menu-item-type-custom.menu-item-object-custom
                  %a{href: "http://net3allem.com/?p=273"}= translate('literacy')
            %li.menu-item
              %a{href: "#"}=translate('events')
              %ul.sub-menu
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=77"}=translate('upcoming_events')
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=140"}=translate('past_events')
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=9"}=translate('success_stories')
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=2"}=translate('contribute')
              %ul.sub-menu
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=47"}=translate('volunteer')
                %li.menu-item
                  = link_to students_path do
                    = translate('foster_child')
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=1441"}=translate('donate')
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=624"}=translate('gallery')
      / .site-navigation .main-navigation
      .grid_16.mob-nav
      .clear