= link_to "نتعلم", "#", class: "appbrand"
.slim-scroll{:'data-scroll-height' => "800px"}
  %span.profile.center
    = link_to "#", alt: "Avatar" do
      = image_tag 'admin-avatar-icon.png'
  %ul
    = nav_link "الاحصائيات", admin_dashboard_index_path, "glyphicons dashboard"
    = nav_link "الطلاب", admin_students_path, "glyphicons group"
    = nav_link "الفصول", n_classes_path, "glyphicons briefcase"
    
  .clearfix
//    .alert.alert-primary
//      %a.close{:'data-dismiss' => "alert"}
//        &times;
//      %p
//        بـ كلا عُقر النمسا تزامناً, هو عدم غضون وزارة الفرنسية. عام في بقعة مقاومة التخطيط. يبق الذود العام بـ. تعد مايو الألمانية، عن, عن ليركز الجديدة، ولكسمبورغ قهر, أما ان أواخر شموليةً. الجنود لليابان ماليزيا، لم دار.

