- locale = I18n.locale || 'en'
%html{ lang: "#{locale}"}
  %head
    %title Net3allem
    = stylesheet_link_tag  "style", "font-awesome", "flexslider","font-awesome-ie7", "keyframes", "grid", "meanmenu", "spinner"
    = stylesheet_link_tag "rtl" if locale == :ar
    = javascript_include_tag 'application_guest'
    / = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body{"data-twttr-rendered" => "true" }
    #page
      = render partial: 'layouts/guest/toolbar'
      = render partial: 'layouts/guest/header'
      = render partial: 'layouts/guest/page_title'
      #main.site-main.container_16
        .inner
          = yield
      = render partial: 'layouts/guest/footer'

